@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color1: #35363A;
    --color2: #e50914;
    --color3: #141414;
}

body{
    background-color: var(--color3);
}

header{
    background-color: var(--color2);
    min-height: 150px
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

main > img{
    width: 100%;
}


